<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de productos</title>
</head>

<body>
  <h1>Nuestros Productos</h1>
  <ul>
    {% for producto in productos %}
    <li>
      {{ producto.nombre }} - {{ producto.precio }}¬{% if producto.stock == 0 %}
      <span style="color: red;">(Agotado)</span>
      {% endif %}
    </li>
    {% empty %}
    <li>No hay productos disponibles.</li>
    {% endfor %}
  </ul>
</body>

</html>