{% extends 'inventario/base.html' %}

{% block title %}
  Vista Productos | 🐍
{% endblock %}

{% block header %}
  <header class="flex gap-6">
    <h1>Vista Productos</h1>
    <a class="underline" href="{% url 'producto_create' %}">Agregar producto</a>
  </header>
{% endblock %}

{% block breadcrumb %}
<a class="text-cyan-500 underline" href="/inventario/producto">/inventario/producto</a>
{% endblock %}

{% block content %}
<section class="p-8" gap-4 felx felx-col w-full">
    <h2 class="text-lg">Productos disponibles</h2>
    <p>Aquí encontraras las mejores frutas disponibles</p>
    <ul>
        {% for producto in object_list %}
        <li class="flex flex-row gap-1 border p-2 bg-white shadow">
            <span>{{ producto.nombre }}</span>
            <span>{{ producto.precio }}</span>
            <span>{{ producto.descripcion }}</span>
            <span>{{ producto.stock }}</span>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block footer %}
<footer>
    <span>
        2025. Derechos reservados
    </span>
</footer>
{% endblock %}
